torch >= 2.3.0            
tiktoken
matplotlib >= 3.7.1        # ch04; ch06; ch07
tensorflow                 # ch05; ch06; ch07
tqdm >= 4.66.1             # ch05; ch07
numpy    
pandas         
        